{% import "macros/head.html" as head -%}
{% import "macros/opengraph.html" as social -%}

<!DOCTYPE html>
<html lang="en">

<head>
  {%- block general_meta -%}
    {{ head::general_meta() }}
  {%- endblock general_meta -%}

  {%- block og_preview -%}
    {{ social::og_preview() }}
  {%- endblock og_preview -%}

  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="{{config.title}}"
    href="{{ get_url(path="index.xml", trailing_slash=false) | safe}}">
  {% endblock %}

  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <section class="section">
      <div class="container">
      {% block header %}
        <div class="header">
          <div class="row">
            <div class="col col-8">
              <h1> <a href="/"> <strong> {{ config.title }} </strong> </a>  </h1>
            </div>
            <div class="col col-4 is-right">
              <ul>
                <li>
                  <a href="https://github.com/{{ config.extra.github }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                  </a>
                  <a href="https://twitter.com/{{ config.extra.twitter }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col col-8">
              <p> {{ config.description }}  </p>
            </div>
          </div>
        <hr>
        </div>
      {% endblock header %}
      {% block nav %}
          <div class="nav">
              {% for link in config.extra.links %}
              {% set link_url = link.link | replace(from="$BASE_URL", to=config.base_url) %}
              <ul>
                  <li><a {% if current_url and current_url == link_url %}class="active" {% endif %} href="{{ link_url }}">{{ link.title }}</a></li>
              </ul>
              {% endfor %}
          </div>
      {% endblock %}
      {% block content %} {% endblock %}
      {% block footer %}
        <div class="footer">
            <hr />
            <p> {{ config.extra.copyright }} </p>
        </div>
      {% endblock footer %}
      </div>
  </section>
</body>
</html>
