{% extends "base.html" %}

{% block content %}
<div class="post">
  <div class="post-header">
        <div class="meta">
          <div class="date">
            <span class="day"> {{ page.day }}</span>
            <span class="rest"> {{ page.date | date(format='%b') }} {{ page.year }} </span>
          </div>
        </div>
        <div class="matter">
          <h2 class="title">
            {{ page.title }}
          </h2>
        </div>
      </div>
  <div class="post-content">
    <p>{{ page.content | safe }}</p>
  </div>
</div>
{% if page.taxonomies["tags"] %}
<div class="tags">
<p>
  {% for tag in page.taxonomies["tags"] %}
  {% set url = get_taxonomy_url(kind="tags", name=tag) %}
  <a href="{{ url }}"> <span class="tag text-success">{{ tag }}</span> </a>
  {% endfor %}
</p>
</div>
{% endif %}
{% endblock content %}
