{% extends "base.html" %}

{% block content %}
<div class="about">
  <h4> About Me </h4>
  <p>
  I am Sarat Chandra and I live in Bengaluru, India. I work at Zerodha. 
  I love Go, Elixir, Python but have dabbled with Nim, Rust. Working on financial systems. Using Go and Elixir professionally from 2015. Interested in Realtime and Distributed systems.
  </p>

  <p>
  Obsessed with reading books, especially fantasy. My favorite author is Brandon Sanderson. If you want to contact me, hit me up at me at saratchandra.in
  </p>
</div>
{% endblock content %}